<!doctype html>
<!--[if lt IE 7]> <html ng-app="Tipstry" class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ LANGUAGE_CODE }}"> <![endif]-->
<!--[if IE 7]>    <html ng-app="Tipstry" class="no-js lt-ie9 lt-ie8" lang="{{ LANGUAGE_CODE }}"> <![endif]-->
<!--[if IE 8]>    <html ng-app="Tipstry" class="no-js lt-ie9" lang="{{ LANGUAGE_CODE }}"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html ng-app="demo" class="no-js" lang="{{ LANGUAGE_CODE }}">
<!--<![endif]-->
<head>	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">	

	{% load staticfiles %}
	<link src="{% static "css/style.css" %}" rel="stylesheet"></link>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<script type="text/javascript" src="{% static "js/libs/jquery.min.js" %}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{% static "js/libs/bootstrap.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/libs/underscore.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/libs/angular.js" %}"></script>
	<script type="text/javascript" src="{% static "js/libs/angular-route.js" %}"></script>
	<script type="text/javascript" src="{% static "js/libs/angular-cookies.js" %}"></script>
	<script type="text/javascript" src="{% static "js/libs/restangular.js" %}"></script>

	{% block extra_head %}{% endblock %}

	<title>
		Blog app with django and angular
	</title>
</head>

<body id="index" ng-controller="AppController">
	<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
		{% csrf_token %}
		
		{% block content %}
		{% endblock %}	

		{% block extra_content %}		
		{% endblock %}		
				
		{% block extra_page %}		
		{% endblock %}

</body>
</html>
