{% extends "base.html" %}
{% load i18n %}

{% load staticfiles %}

{% block extra_head %}
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
	<script src="{% static "js/apps/app.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="padded-content">
        <div id="main-content" class="container">
			<h2>Task list</h2>
			<div class="row">
				<div class="col-md-6 form">
				    <input type="text" ng-model="taskTemp.name"/>
					<a href="" ng-click="add(taskTemp)">add new task</a>
				 </div>
			</div>
			<br>
				  
				<ul class="list-group">
				  <li class="list-group-item" ng-repeat="task in tasks">
					  <input type="text" ng-model="task.name" ng-keypress="($event.which === 13)?update(task):0"/>
					  <a href="" ng-click="delete(task)"><span class="glyphicon glyphicon-remove"></span></a>
				  </li>
				</ul>
				<p>Edit input text and enter save</p>
				
                <ng-view view-state></ng-view>
        </div>
    </div>
{% endblock %}
{% block extra_content %}
<script type="text/javascript"></script>
{% endblock %}